.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .item-detail-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-detail-info {
    text-align: left;
  }

.small-btn {
  font-size: 14px;
  padding: 5px 10px;
}

.add-to-cart-btn {
  font-size: 16px;
  padding: 8px 16px;
  margin-right: 10px;
}

.finish-purchase-btn {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white; 
  border: none; 
  border-radius: 4px;
  text-decoration: none;
}

.item-buttons {
  display: flex;
  align-items: center;
}