.item-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  width: calc(25% - 10px);
  box-sizing: border-box;
  text-align: center;
}

.item-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.item-details {
  text-align: center;
}